# Keycloak Connection
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=testing
KEYCLOAK_AUTH_REALM=testing

# Credentials
KEYCLOAK_GRANT_TYPE=password
KEYCLOAK_CLIENT_ID=nest-backend
KEYCLOAK_CLIENT_SECRET=SDfmcSYsenenHyreV3yK2rWt0ZYFqv1a
KEYCLOAK_USERNAME=admin1
KEYCLOAK_PASSWORD=helloworld