# Keycloak Connection
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=POS
KEYCLOAK_AUTH_REALM=master

# Credentials
KEYCLOAK_GRANT_TYPE=password
KEYCLOAK_CLIENT_ID=Pos-realm
KEYCLOAK_CLIENT_SECRET=ptxc8G9Ja0l0t2rLakFlKQQfxSyBc9by
KEYCLOAK_USERNAME=admin
KEYCLOAK_PASSWORD=admin